body{
  font: 1rem Arial,Tahoma,sans-serif;
  color: #353535;
}

[title|="fish"]{
  color: red;
}

.fp{
  color: #777;
}

.big{
  font-size: 1.1rem;
}

.test b{
  color: #2026b5;
}

.test > b {
  color: red;
}