.title-main {
  color: white;
  background-color: rgb(15, 116, 248);
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.lead-table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-family: sans-serif;
  font-size: 14px;
  max-width: 701px;
  margin: 23px;
}

.lead-table td {
  border: 1px solid #ddd;
  padding: 15px;
}

.det {
  background-color: rgb(245, 240, 240);
  font-weight: bold;
}

.label {
  font-weight: bold;
  width: 50%;
}

.value {
  width: 50%;
}
